.contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.contact__icons{
    display: flex;
}

@media (max-width:576px) {
    #contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
}