.experiences {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.experiences__header {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto var(--space-md) auto;
}