.nav-bar{
    display: flex;
    align-items: center;
    justify-content:space-between;
    position: fixed;
    z-index: 1000;
}

.links{
    display: flex;
    align-items: center;
    justify-content:space-around;
}

@media (max-width: 600px){
    .nav-bar{
        flex-direction: column;
    }

    .links{
        flex-direction: column;
    }

    .link{
        font-size: 16px;
    }
}
