.btn{
    background: var(--color-accent);
    color: var(--color-text-body);
    border: none;
    outline: none;
    border-radius: var(--radius-sm);
    height: 60px;
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn:hover{
    
}

.hero__btn-r{
    color:var(--color-border-light);
    border: 1px solid var(--color-border-light);
    background: none;
}